@import "colores.scss";

@each $nombre,$color in $colors{
  
    .color-#{$nombre} {
        background-color: $color;
        }
    
}
button{
    color: $texto;
    width: 100px;
    height: 40px;
    :disabled{
        background-color: $deshabilitado;
        color: black;
    }
}
.ovalo{
    border-radius: 35%;
}
.texto-negro{
    color: black;
}
.hover:hover{
    background-color: red;
}
.pequenio{
    width: 40px;
   
}
.circulo{
    border-radius: 50%;
}
.icono{

    font-size: 15px;
}

