@mixin sexy-border($color, $width) {
    border: {
      color: $color;
      width: $width;
      style: dashed;
    }
  }
  @mixin colors($text, $background, $border) {
    color: $text;
    background-color: $background;
    border-color: $border;
  }